*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.7px;
    word-spacing: 3px;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
}
:root{
    --background: #1faff1;
    --border: #1a5dee;
    --shadow: #1246d6;
    --brown: #ad9463;
    --dark-brown: #8d7950;
}